*{  color:black;
}


.base{
    width: 800px;
    height: 100px;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: flex-end;
    align-items: flex-end;
    border: solid black 1px;
}
 
.title="base" {
    color: darkgray;
    flex-grow: 1;
}
.content{color: burlywood;height:20px; /*设置div的大小*/ /*边框*/
    line-height: 25px; /*设置文字行距等于div的高度*/
    flex-grow: 2;
}