*{color:black;)
}



.title {
    color: darkgray;
    font: bold;

div {
    text-align: center; /*文字水平居中对齐*/
    line-height: 20px; /*设置文字行距等于div的高度*/
    overflow: hidden;
}

}

.content{color: burlywood;height:20px; /*设置div的大小*/ /*边框*/
    text-align: center; /*文字水平居中对齐*/
    line-height: 20px; /*设置文字行距等于div的高度*/
    overflow:hidden;
}